absl-py==1.1.0
addict==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
arrow==1.2.2
async-timeout==4.0.2
attrdict==2.0.1
attrs==21.4.0
autowrap==0.22.8
beautifulsoup4==4.11.1
boto3==1.24.3
botocore==1.27.3
bravado==11.0.3
bravado-core==5.17.0
cachetools==5.2.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
cmake==3.22.5
cycler==0.11.0
Cython==0.29.20
distlib==0.3.4
filelock==3.7.1
fonttools==4.33.3
fqdn==1.5.1
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
gdist==1.0.3
gdown==4.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grpcio==1.43.0
h5py==3.7.0
idna==3.3
ilock==1.0.3
imageio==2.19.3
importlib-metadata==4.11.4
iopath==0.1.9
isoduration==20.11.0
Jinja2==3.1.2
jmespath==1.0.0
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.3
jsonref==0.2
jsonschema==4.6.0
kiwisolver==1.4.2
KNN-CUDA @ https://github.com/unlimblue/KNN_CUDA/releases/download/0.2/KNN_CUDA-0.2-py3-none-any.whl
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
monotonic==1.6
msgpack==1.0.4
multidict==6.0.2
multipledispatch==0.6.0
mypy==0.961
mypy-extensions==0.4.3
neptune-client==0.16.3
neptune-contrib==0.28.1
neuralnet-pytorch==0.0.3
ninja==1.10.2.3
numexpr==2.8.1
numpy==1.22.4
oauthlib==3.2.0
open3d-python==0.3.0.0
opencv-python==4.5.5.64
openmesh==1.2.1
packaging==21.3
pairing==0.1.3
pandas==1.4.2
Pillow==9.1.1
platformdirs==2.5.2
plotly==5.8.0
ply==3.11
plyfile==0.7.4
point-cloud-utils @ git+https://github.com/fwilliams/point-cloud-utils@7115e490f1c527ad0153c5fea9eb87dc65aca162
pointnet2-ops @ git+https://github.com/erikwijmans/Pointnet2_PyTorch.git@b5ceb6d9ca0467ea34beb81023f96ee82228f626#subdirectory=pointnet2_ops_lib
portalocker==2.4.0
protobuf==3.20.1
psutil==5.9.1
py-goicp==0.0.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydocstyle==6.1.1
pyinstrument==4.1.1
PyJWT==2.4.0
pymesh==1.0.2
pyparsing==3.0.9
pyrr==0.10.3
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-lightning==1.2.8
pytorch-lightning-bolts==0.3.2.post1
pytorch-metric-learning==1.3.2
pytz==2022.1
PyYAML==6.0
pyzmq==23.1.0
ray==1.12.1
requests==2.27.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3987==1.3.8
robust-laplacian==0.2.4
rsa==4.8
s3transfer==0.6.0
scikit-learn==1.1.1
scipy==1.8.1
simplejson==3.17.6
six==1.16.0
sklearn==0.0
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
swagger-spec-validator==2.7.4
tables==3.7.0
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.11.0
torch-cluster==1.6.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-spline-conv==1.2.1
torchaudio==0.11.0
torchfile==0.1.0
torchmetrics==0.9.0
torchsummary==1.5.1
torchvision==0.12.0
tornado==6.1
tqdm==4.64.0
trimesh==3.12.5
typing_extensions==4.2.0
uri-template==1.2.0
urllib3==1.26.9
virtualenv==20.14.1
visdom==0.1.8.9
webcolors==1.12
websocket-client==1.3.2
Werkzeug==2.1.2
xvfbwrapper==0.2.9
yapf==0.32.0
yarl==1.7.2
zipp==3.8.0